@font-face {
  font-family: clashdisplay;
  src: url(font/ClashDisplay-Medium.ttf);
}
@font-face {
  font-family: clashdisplay-semibold;
  src: url(font/ClashDisplay-Semibold.ttf);
  }
@font-face {
  font-family: montserrat;
  src: url(font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: jetbrains;
  src: url(font/JetBrainsMono-Medium.ttf);
}
body {
  background-color: rgb(12, 12, 12);
}
ul {
  padding: 0px;
  margin: 0px;
  background-color: rgb(4, 4, 4);
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  width:100%;
  z-index: 99999;
}
p {
  color: rgb(242, 242, 242);
  margin-top: 200px;
  margin-left: 100px;
  margin-bottom: 120px;
  font-family: clashdisplay;
  font-size: 150px;
}
p.links {
  margin-top: 100px;
}
p.info {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 80px;
  line-height: 0.5;
  font-family: clashdisplay-semibold;
  font-size: 40px;
}
p.infohead {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: montserrat;
  font-size: 25px;
}
img.sosmed-icon {
  position: relative;
  vertical-align: middle;
  bottom: 0.08em;
  width: 50px;
  height: 50px;
  padding: 10px;
}

a.fermallow {
  float: left;
  padding: 20px 30px;
  color: rgb(242, 242, 242);
  font-family: clashdisplay;
  font-size: 50px;
}
button.sosmed{
  padding: 20px 40px;
  margin-top: 50px;
  margin-left: 100px;
  color: rgb(242, 242, 242);
  font-family: montserrat;
  font-size: 30px;
  border-style: none;
  background-color: rgb(12, 12, 12);
}
button:hover {
  filter: invert(100%);
}