@font-face {
  font-family: clashdisplay;
  src: url(font/ClashDisplay-Medium.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: jetbrains;
  src: url(font/JetBrainsMono-Medium.ttf);
}
body {
  background-color: rgb(12, 12, 12);
}
ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: rgb(4, 4, 4);
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  width:100%;
  z-index: 99999;
}
ul.bottom {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: rgb(4, 4, 4);
  left:0px;
  right:0px;
}
p {
  color: white;
  position: relative;
  font-family: clashdisplay;
  font-size: 130px;
  text-align: left;
  padding: 0px 50px;
  margin-top: 200px;

}
p.evan {
  color: white;
  position: relative;
  font-family: clashdisplay;
  font-size: 30px;
  text-align: left;
  padding: 0px 50px;
  margin-top: 0px;

}
p.phar {
  color: white;
  position: relative;
  font-family: clashdisplay;
  font-size: 30px;
  text-align: left;
  padding: 0px 50px;
  margin-top: 50px;
  line-height: 2;

}
img.sosmed-icon {
  position:relative;
  height: 50px;
  padding: 10px;
  float: left;
}
button.fermallow {
  float: left;
  display: block;
  color: white;
  padding: 20px 30px;
  font-family: clashdisplay;
  font-size: 50px;
  border-color: white;
  border-style: none;
  background-color: rgb(4, 4, 4);
}
button.about {
  color: white;
  font-family: clashdisplay;
  font-size: 50px;
  float: right;
  padding: 20px 30px;
  border-color: white;
  border-style: none;
  background-color:rgb(4, 4, 4);
  
}
button.sosmed-ig{
  float: left;
  margin-left: 50px;
  color: white;
  padding: 10px 20px;
  font-family: clashdisplay;
  font-size: 30px;
  display:flex;
  align-items: center;
  border-color: white;
  border-style: none;
  background-color: rgb(12, 12, 12);
}
button.sosmed-ig:hover {
  border: none;
  background-image: url(media/instabackground.png);
  color:white;
}
button.sosmed-yt{
  float: left;
  margin-left: 50px;
  color: white;
  padding: 10px 20px;
  font-family: clashdisplay;
  font-size: 30px;
  display:flex;
  align-items: center;
  border-color: white;
  border-style: none;
  background-color: rgb(12, 12, 12);
}
button.sosmed-yt:hover {
  border: none;
  background-image: url(media/ytbackground.png);
  color:white;
}
button.sosmed-spotify{
  float: left;
  margin-left: 50px;
  color: white;
  padding: 10px 20px;
  font-family: clashdisplay;
  font-size: 30px;
  display:flex;
  align-items: center;
  border-color: white;
  border-style: none;
  background-color: rgb(12, 12, 12);
}
button.sosmed-spotify:hover {
  border: none;
  background-image: url(media/spotifybackground.png);
  color:white;
}
button.sosmed-github{
  float: left;
  margin-left: 50px;
  color: white;
  padding: 10px 20px;
  font-family: clashdisplay;
  font-size: 30px;
  display:flex;
  align-items: center;
  border-color: white;
  border-style: none;
  background-color: rgb(12, 12, 12);
}
button.sosmed-github:hover {
  border: none;
  background-image: url(media/gitbackground.png);
  color:white;
}
button:hover {
  background-color:white;
  border-color: white;
  color: black;

  
}
button:active {
  background-color: white;
  border-color: white;

  color: white;
}
button.fermallow:active {
  background-color: white;
  border-color: white;
  border-style: none;
  color: black;
}
